.carousel-container {
    .carousel-item {
        height: 100vh;width: 100%;
    }

    img {
        height: 95vh;
    }

    @media only screen and (min-width: 1250px) {
        img {
            margin-top: 5vh;
        }
    }

    @media only screen and (max-width: 1250px) {
        video {
            height: 95vh;
            object-fit: fill;
        }
    }

    @media only screen and (min-width: 1250px) {
        #mobileCarousel {
            display: none;
        }
    }

    @media only screen and (max-width: 1250px) {
        #desktopCarousel {
            display: none;
        }

        #mobileCarousel {
            margin-top: 5vh;
        }
    }

    #mobileCarousel {
        .carousel-inner {
            height: 95vh;
        }
    }
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
    width: 5%;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep.carousel-control-next-icon {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}


.randomCarousel {
    position: relative;
    display: block;
    height: 80vh;
    background: black;

    @media only screen and (max-width: 1250px) {
        height: 40vh
    }

    img {
        position: absolute;
        width: 25%;
        transition: all 0.3s ease;

        @media only screen and (max-width: 1250px) {
            width: 45%;
        }
    }

    img:hover {
        transform: scale(1.25);
        z-index: 999 !important;
    }
}

.btn {
    border-radius: 0;
    position: absolute;
    left: 40%;
    width: 20%;
    top: 45%;
    height: 10%;
    margin: auto;
    background: #000;
    color: #fff;

    @media only screen and (max-width: 1250px) {
        left: 35%;
        width: 30%;
        top: 40%;
        height: 20%;
    }
}

.btn:focus {
    background: #000;
    color: #fff;
}



